* {
  margin: 0;
  padding: 0;
  font-family: "Kanit", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
}

header .banner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  display: flex;
  width: 100%;
  height: 10vh;
  background-color: #FCA311;
}
header .banner .logo {
  width: 150px;
  height: 50px;
  z-index: 100;
  background-image: url(../static/elliteDriveLogo.png);
  background-size: cover;
  background-position: center;
}
header .banner .logo a {
  position: absolute;
  width: 150px;
  height: 50px;
}
header .banner .burgerMenu {
  width: 40px;
  height: 40px;
  z-index: 100;
  background-image: url(../static/menuClicked.png);
  background-size: cover;
  background-position: center;
  margin-right: 20px;
}
header .banner .burgerMenuClose {
  width: 35px;
  height: 35px;
  background-image: url(../static/close.png);
}

section .burgerMenuList {
  position: absolute;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #000000;
  text-align: center;
  display: none;
  flex-direction: column;
  flex-wrap: wrap;
}
section .burgerMenuList ul {
  text-align: center;
}
section .burgerMenuList ul li {
  padding: 15px 15px;
  border: #E5E5E5 solid 1px;
  border-collapse: collapse;
  cursor: pointer;
}
section .burgerMenuList a {
  text-decoration: none;
  color: #E5E5E5;
  text-transform: capitalize;
}
section .rentCarForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 40vh;
  background-color: #14213D;
  border: solid 1px black;
  flex-wrap: wrap;
}
section .rentCarForm .describe {
  display: flex;
  flex-direction: column;
  color: #E5E5E5;
  height: -moz-fit-content;
  height: fit-content;
}
section .rentCarForm .describe h1 {
  padding: 10px 10px;
  text-transform: capitalize;
}
section .rentCarForm .describe p {
  padding: 5px 5px;
  text-transform: capitalize;
}
section .burgerMenuListOpen {
  display: flex;
  z-index: 101;
}

.offer {
  display: flex;
  flex-direction: column;
  background-color: #e5e5e5;
  padding-bottom: 50px;
}
.offer h2 {
  text-transform: capitalize;
  padding: 10px 10px;
}
.offer .ourCars {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  width: 100%;
  height: 40vh;
  background-color: #e5e5e5;
  justify-content: flex-start;
  align-items: center;
}
.offer .ourCars ul {
  list-style-type: none;
  transition: transform 0.3s ease;
  display: flex;
}
.offer .ourCars .carBoxOffer {
  display: flex;
  flex-direction: column;
  background-image: url("/static/bmw235i.PNG");
  background-repeat: no-repeat;
  background-size: 280px 220px;
  background-position-y: -20px;
  border: solid 1px black;
  border-radius: 5px;
  inset: 0;
  width: 280px;
  height: 280px;
  justify-content: flex-end;
  margin-right: 40px;
  margin-left: 40px;
}
.offer .ourCars .carBoxOffer .viewButton {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  width: 280px;
  height: 105px;
  background-color: #14213D;
  justify-content: center;
  border: #000000 solid 1px;
  align-items: center;
  border-radius: 5px;
  color: #E5E5E5;
}
.offer .ourCars .carBoxOffer .viewButton #carModel {
  margin-left: 30px;
  align-self: flex-start;
  font-weight: bold;
  font-size: 1.4rem;
  text-transform: capitalize;
}
.offer .ourCars .carBoxOffer .viewButton #carPower {
  margin-left: 30px;
  align-self: flex-start;
  text-transform: capitalize;
}
.offer .ourCars .carBoxOffer .viewButton #carDetails {
  margin-left: 30px;
  align-self: flex-start;
  text-transform: uppercase;
  padding-bottom: 5px;
  font-size: 0.8rem;
}
.offer .ourCars .carBoxOffer .viewButton button {
  background: linear-gradient(135deg, #f5f5f5, #ffffff); /* Milk gradient background */
  border: #14213D solid 1px;
  width: 150px;
  height: 30px;
  justify-self: center;
  border-radius: 5px;
}
.offer .ourCars .carBoxOffer .viewButton button:hover {
  opacity: 0.6;
}
.offer .ourCars .carBoxOffer.two {
  background-image: url("/static/supra.jpg");
}
.offer .ourCars .carBoxOffer.three {
  background-image: url("/static/mustang.jpg");
}
.offer .ourCars .carBoxOffer.four {
  background-image: url("/static/rs3.jpg");
}
.offer .ourCars .carBoxOffer.five {
  background-image: url("/static/g63.jpg");
}
.offer .ourCars .arrowForward {
  display: flex;
  flex-direction: row;
  width: 25px;
  height: 40px;
  cursor: pointer;
  position: absolute;
  right: 5px;
  background-image: url("/static/arrow.png");
  background-position-x: -10px;
  transform: rotate(180deg);
}
.offer .ourCars .arrowBack {
  display: flex;
  flex-direction: row;
  width: 25px;
  height: 40px;
  cursor: pointer;
  position: absolute;
  left: 5px;
  background-image: url("/static/arrow.png");
  background-position-x: -10px;
}

.countDown {
  display: flex;
  width: 100%;
  height: 20vh;
  background-color: #E5E5E5;
  align-items: center;
  justify-content: space-around;
}
.countDown .countDown.box1 {
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80%;
  background-color: #14213d;
  width: 30%;
  color: #E5E5E5;
  text-align: center;
  border-radius: 5px;
}

section .aboutCompany {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #14213d;
  border: solid 1px black;
  color: #E5E5E5;
  text-align: center;
}
section .aboutCompany h3 {
  padding: 15px 15px;
}
section .aboutCompany h4 {
  padding-bottom: 15px;
  padding-top: 15px;
}
section .aboutCompany #one {
  width: 80%;
  padding-bottom: 15px;
  margin: 0;
  align-self: center;
}
section .aboutCompany #two {
  width: 80%;
  padding: 0;
  margin: 0;
  align-self: center;
  padding-bottom: 15px;
}

footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 10vh;
  background-color: black;
  align-self: flex-end;
}
footer p {
  color: #E5E5E5;
  text-align: center;
  padding-bottom: 5px;
}
footer .publicMedia {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 10vh;
  margin-top: 10px;
}
footer .publicMedia #publicMedia1 {
  width: 30px;
  height: 30px;
  background-color: #E5E5E5;
  margin: 0 10px 0 10px;
  cursor: pointer;
  background-image: url("/static/insta.png");
}
footer .publicMedia #publicMedia2 {
  width: 30px;
  height: 30px;
  background-color: #E5E5E5;
  margin: 0 10px 0 10px;
  cursor: pointer;
  background-image: url("/static/fb.png");
}
footer .publicMedia #publicMedia3 {
  width: 30px;
  height: 30px;
  background-color: #E5E5E5;
  margin: 0 10px 0 10px;
  cursor: pointer;
  background-image: url("/static/snap.png");
}/*# sourceMappingURL=mainRentCar.css.map */