{% load static tailwind_tags %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Montserrat&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'pigments.css' %}">
    <link rel="stylesheet" href="{% static 'output.css' %}">
    <link rel="stylesheet" href="{% static 'mainRentCar.css' %}">
    <link rel="stylesheet" href="{% static 'ourcars.css' %}">
    <link rel="stylesheet" href="{% static 'pricing.css' %}">
    <link rel="stylesheet" href="{% static 'faq.css' %}">
    <title>Elite Drive</title>
    {% tailwind_css %}
</head>

<body>
    <header>
        <div class="banner">
            <div class="logo"><a href="{% url 'carRental:mainRent' %}"> </a></div>
            <div class="burgerMenu"></div>
        </div>

    </header>

    <section>
        <div class="burgerMenuList">
            <ul>
                <li><a href="{% url 'carRental:mainRent' %}">Home</a></li>
                <li><a href="{% url 'carRental:book' %}">rent car</a></li>
                <li><a href="{% url 'carRental:cars' %}">our cars</a></li>
                <li><a href="{% url 'carRental:pricing' %}">pricing</a></li>
                <li><a href="{% url 'carRental:faq' %}">faq</a></li>
                <li><a href="{% url 'carRental:opinions' %}">Rate us</a></li>
            </ul>
        </div>
        
        {% block main %}
        
            
        <div class=" rentCarForm">
            <div class=" describe">
                <h1 class="text-2xl">car rental in mielec</h1>
                <p>✓ no hidden costs ✓ 24/7 support <br>✓  free cancellation</p>
            </div>
            <div class="flex flex-col form md:self-center md:w-2/4">

                <form class="flex flex-col " action="" name="formDataFromHomePage" method="post">
                    {% csrf_token %}
                    
                        {{form.carBrand}}
                        
                        <br>
                        {{ form.fromDate }}
                        <br>
                        {{ form.toDaate }}
                
                        <div class="flex flex-row justify-center">
                            <button class="self-center w-2/5 h-8 mt-2 mb-2 mr-2 text-black capitalize bg-white rounded-sm" type="submit">Rent</button>
                            
                        </div>


                </form>
                
            </div>
            
        </div>
    </section>

    <section class="offer">
       <h2 class="text-2xl">our car fleet</h2>
        <div class="ourCars">
            
            <ul>

                <li>
                    <div class="carBoxOffer justify-items-center">
                        <div class="viewButton">
                            <p id="carModel">bmw 2-series</p> 
                            <p id="carPower">306hp</p>
                            <p id="carDetails">rwd 3.0L r6</p>
                            <button class="text-black" type="submit"><a href="{% url 'carRental:cars' %}#bmw2 ">view</a></button>
                        </div>
                    </div>
                 </li>

                 <li>
                    <div class="carBoxOffer two">
                        <div class="viewButton">
                            <p id="carModel">toyota supra</p> 
                            <p id="carPower">346hp</p>
                            <p id="carDetails">rwd 3.0L r6</p>
                            <button class="text-black" type="submit"><a href="{% url 'carRental:cars' %}#supra ">view</a></button>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="carBoxOffer three">
                        <div class="viewButton">
                            <p id="carModel">ford mustang</p> 
                            <p id="carPower">416hp</p>
                            <p id="carDetails">rwd 5.0L v8</p>
                            <button class="text-black" type="submit"><a href="{% url 'carRental:cars' %}#mustang ">view</a></button>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="carBoxOffer four">
                        <div class="viewButton">
                            <p id="carModel">audi rs3</p> 
                            <p id="carPower">380hp</p>
                            <p id="carDetails">awd 2.5L r5</p>
                            <button class="text-black" type="submit"><a href="{% url 'carRental:cars' %}#audirs3 ">view</a></button>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="carBoxOffer five">
                        <div class="viewButton">
                            <p id="carModel">mercedes-benz</p> 
                            <p id="carPower">556hp</p>
                            <p id="carDetails">awd 4.4L v8</p>
                            <button class="text-black" type="submit"><a href="{% url 'carRental:cars' %}#amgG ">view</a></button>
                        </div>
                    </div>
                </li>
                
            </ul>

            <div class="arrowForward"></div>
            <div class="arrowBack"></div>

        </div>
        
    </section>

    <section class="countDown">
        <div class="countDown box1">
            <p>cars</p>
            <span class="num1" data-target="5">5</span> 
            
        </div>

        <div class="countDown box1">
            <p>distance/km</p> 
            <span class="num" data-target="101901">0 </span>
            
        </div>
        
        <div class="countDown box1">
            <p>five stars</p> 
            <span class="num" data-target="220">0</span> 
            
        </div>
    </section>

    <section class="pt-5">
        <div class="aboutCompany">
            <h3>About Us</h3>
            <p>Established in 1998, EliteDrive is a premier car rental company known for providing exceptional services and a wide range of luxurious vehicles.</p>

            <h4>Core Values</h4>

                <div class="bg-dark" id="one"><strong>Excellence:</strong> <br>We are dedicated to providing excellent service and maintaining a fleet of top-quality vehicles.</div >
                <div id="two" ><strong>Integrity:</strong><br> We conduct our business with utmost honesty, transparency, and ethical standards.</div >
                <div id="one"><strong>Reliability:</strong><br> We strive to be dependable and trustworthy, delivering on our commitments to our customers.</div >
                <div id="two"><strong>Customer Satisfaction:</strong><br> We prioritize customer satisfaction by understanding and fulfilling their unique needs and preferences.</div >
                <div id="one"><strong>Innovation:</strong><br> We continuously embrace new technologies and practices to enhance our services and operations.</div>

        </div>
    </section>
    
    {% endblock main %}
    <footer>
  
        

        <div class="publicMedia">
            <div id="publicMedia1"></div>
            <div id="publicMedia2"  ></div>
            <div id="publicMedia3"  ></div>
        </div>
        <p>&copy; 2023 EliteDrive Car Rental. All rights reserved.</p>
    </footer>

    <script src="{% static 'mainRental.js' %}"></script>
    <script src="{% static 'countSection.js' %}"></script>
    <script src="{% static 'carousel.js' %}"></script>


</body>
</html>