{% extends 'mainRentCar.html' %}
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Faq</title>
</head>
<body>
    
    {% block main %}
    <div class="aboutCarsTitle">
        <p>
            Frequently Asked Questions (FAQ)
    </div>

    <section >

        <div class="faq">
            <div class="question">
                <p>Q: How do I make a reservation?</p>
                <img class="arrowImg" src="{% static 'arrow.png' %}" alt="">
         
            </div>

            

            <div class="answer">
                <p>A: Making a reservation is quick and easy! Simply visit our website, select your desired car, 
                    choose the rental dates, and proceed to the checkout. You can also give us a call,
                    and our friendly customer support team will assist you with the booking process.</p>
            </div>
        </div>

        <div class="faq">
                <div class="question">
                <p>Q: What payment methods do you accept?</p>
                <img class="arrowImg" src="{% static 'arrow.png' %}" alt="">
            
            </div>
            
            <div class="answer">
                <p>A: We accept major credit cards, including Visa, Mastercard, American Express, and Discover.
                    You can also choose to pay with cash, but please note that a valid
                    credit card is still required for security purposes.</p>
            </div>
        </div>
        
        
    
        <div class="faq">
            <div class="question">
            <p>Q: Can I modify or cancel my reservation?</p>
            <img class="arrowImg" src="{% static 'arrow.png' %}" alt="">
            
        </div>
        
        <div class="answer">
            <p>A: Yes, you can modify or cancel your reservation. To make changes, log in to your 
                account or contact our customer support team. Please check our cancellation policy 
                for any applicable charges based on the modification or cancellation timing.</p>
        </div>
        </div>

        <div class="faq">
            <div class="question">
            <p>Q: Is there a minimum age requirement for renting a car?</p>
            <img class="arrowImg" src="{% static 'arrow.png' %}" alt="">
            
        </div>
        
        <div class="answer">
            <p>A: To rent a car with us, you must be at least 21 years old and have
                 a valid driver's license. However, certain car models may have a minimum
                  age requirement of 25. Additional fees may apply for drivers under 25.</p>
        </div>
        </div>

        <div class="faq">
            <div class="question">
            <p>Q: Do you offer insurance coverage for the rental cars?</p>
            <img class="arrowImg" src="{% static 'arrow.png' %}" alt="">
            
        </div>
        
        <div class="answer">
            <p>A: Yes, we provide insurance coverage options for our rental cars. 
                Our standard package includes basic coverage, and you can opt for 
                additional coverage for enhanced protection during your rental period.</p>
        </div>
        </div>

        <div class="faq">
            <div class="question">
            <p>Q: Can I add an additional driver to the rental agreement?</p>
            <img class="arrowImg" src="{% static 'arrow.png' %}" alt="">
            
        </div>
        
        <div class="answer">
            <p>A: Yes, you can add an additional driver to your rental agreement.
                 Both the primary driver and the additional driver must meet our
                  age and license requirements and will be subject to a nominal fee.</p>
        </div>
        </div>

        <div class="faq">
            <div class="question">
            <p>Q: What if I return the car late?</p>
            <img class="arrowImg" src="{% static 'arrow.png' %}" alt="">
            
        </div>
        
        <div class="answer">
            <p>A: We understand that plans can change. If you anticipate 
                returning the car later than the agreed-upon drop-off time, 
                please inform us as soon as possible. Late returns may be subject
                 to additional charges based on the delay.</p>
        </div>
        </div>
        
        <div class="faq">
            <div class="question">
            <p>Q: Are there any mileage restrictions on the rental cars?</p>
            <img class="arrowImg" src="{% static 'arrow.png' %}" alt="">
            
        </div>
        
        <div class="answer">
            <p>A: Our rental cars come with unlimited mileage for most bookings.
                 However, certain promotions or specialty vehicles may have mileage
                  restrictions. Be sure to check the terms and conditions of your
                   reservation.</p>
        </div>
        </div>

        <div class="faq">
            <div class="question">
            <p>Q: Can I rent a car for a one-way trip?</p>
            <img class="arrowImg" src="{% static 'arrow.png' %}" alt="">
            
        </div>
        
        <div class="answer">
            <p>A: Yes, one-way rentals are available, allowing you to pick
                 up the car at one location and return it to another. 
                 Please check for availability and any associated fees
                  for one-way rentals.</p>
        </div>
        </div>

        <div class="faq last">
            <div class="question">
            <p>Q: What do I do in case of an accident or breakdown?</p>
            <img class="arrowImg" src="{% static 'arrow.png' %}" alt="">
            
        </div>
        
        <div class="answer">
            <p>A: In the event of an accident or breakdown, please contact our 
                24/7 emergency support line immediately. We will guide you
                 through the necessary steps and arrange for assistance as needed.</p>
        </div>

    </section>

    <div class="flex flex-col items-center ">
        <p class="font-bold capitalize ">If you have other question write down bellow</p>
        <form action="#" class="flex flex-col items-center" method="post">
            {% csrf_token %}
            {{ form.as_table }}

            <button class="self-center w-2/4 h-8 mt-2 text-black capitalize bg-white mb-28" type="submit">submit</button>

        </form>
        
    </div>

    <script src="{% static 'faq.js' %}"></script>
    {% endblock main %}
        
</body>
</html>